html, body {
  font-family: 'Trebuchet MS';
  height: 100%;
}  

.form {
  border-color: green;
  margin: auto;
  width: 33%;
  height:100%;
  position: relative;
} 

::placeholder {
  color: azure;
  opacity: 1;
}

.input-container{
margin-left: auto;
margin-right: 0;
min-width:100%;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.table-container {
  margin-left: 0;
  margin-right: 0;
  min-width:100%;
  overflow: scroll;
  scroll-behavior:smooth;
}

* {
  font-family: sans-serif;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.first-row {
  user-select: none;
  cursor: pointer;
}
.content-table thead tr {
  background-color: #F71414;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  min-width: 100%;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #F71414;
}

.content-table tbody tr.active-row {
  color: #F71414;
}