html, body {
    font-family: 'Trebuchet MS';
    height: 100%;
  }  

.form {
    border-color: green;
    margin: auto;
    width: 33%;
    height:100%;
    position: relative;
} 

::placeholder {
    color: azure;
    opacity: 1;
}

.input-container{
  margin-left: auto;
  margin-right: 0;
  float:left;
  max-width:20%;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.table-container {
  margin-left: auto;
  margin-right: 0;
  max-width:80%;
  min-height: 50vh;
  max-height: 75vh;
  overflow: scroll;
  width: 100%;
  float:right;
  scroll-behavior:smooth;
}

.bumper{
  position:unset
}

.sorter{
  position: fixed;
  max-height: 3vh;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead tr {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  height: 1px;
}

th {
  font-weight: bold;
  height: inherit;
  padding: 0;
}

th:not(:first-of-type) {
  border-left: 1px solid #ddd;
}

th button {
  background-color: #eee;
  border: none;
  cursor: pointer;
  display: block;
  font: inherit;
  height: 100%;
  margin: 0;
  min-width: max-content;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: left;
  width: 100%;
}

th button::after {
  position: absolute;
  right: 0.5rem;
}

th button[data-dir="asc"]::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpolygon points='0, 0 8,0 4,8 8' fill='%23818688'/%3E%3C/svg%3E");
}

th button[data-dir="desc"]::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpolygon points='4 0,8 8,0 8' fill='%23818688'/%3E%3C/svg%3E");
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

td {
  padding: 0.5rem 1rem;
  text-align: left;
}

footer {
  background-color: #ffdfb9;
  margin: 2rem -8px -8px;
  padding: 1rem;
  text-align: center;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer .heart {
  color: #dc143c;
}

